@font-face {
  font-display: swap;
  font-family: t1cg;
  src: url('@assets/font/texgyreadventor-regular.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: t1cg;
  font-weight: bold;
  src: url('@assets/font/texgyreadventor-bold.otf') format('opentype');
}
