@value klein, mercury, royal, cobalt from '@styles/_colors.scss';

.button {
  backface-visibility: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  color: mercury;
  cursor: pointer;
  display: inline-block;
  font-family: t1cg, Arial, Helvetica, sans-serif;
  padding: 7px 25px;
  position: relative;
  transform: translateY(0px);
  transition: transform 0.2s, box-shadow 0.2s;
  z-index: 1000;

  &:hover {
    box-shadow: 0 20px 30px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
  }
}

.primaryButton {
  background: klein;
}

.secondaryButton {
  background: royal;
}

.cobaltButton {
  background: cobalt;
}
